.about {

  &__wrapper {
    color: #555;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #dcd3b7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-top: 40px;
  }


  &__wrapper-left {
    width: 48%;
    text-align: left;
  }

  &__wrapper-left-name {
    font-size: 24px;
    border-left: 8px solid #0370dd;
    border-bottom: 1px solid #0370dd;
    padding-left: 20px;
    padding-bottom: 4px;
    display: inline-block;

    span {
      display: block;
      margin-top: 8px;
      font-size: 14px;
    }
  }

  &__wrapper-left-text {
    padding: 24px 0 0 32px;

    span {
      display: block;
      padding-top: 16px;
      line-height: 1.5;
    }
  }

  &__wrapper-left-skills {
    display: inline-block;
    text-align: left;
    margin-top: 24px;
    letter-spacing: 1.2px;
    line-height: 1.2;

    span {
      display: inline-block;
      font-size: 24px;
      border-left: 8px solid #0370dd;
      border-bottom: 1px solid #0370dd;
      padding-left: 8px;
      margin-bottom: 8px;
    }
  }


  &__wrapper-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-myimg {
      width: 240px;
      height: auto;
      filter: drop-shadow(0px 4px 4px #333);
    }

    &-github {
      display: block;
      width: 28px;
      height: 28px;
      transition: all .3s;

      img {
        width: 100%;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width:599px) {
  .about {
    margin-top: 50px;
    padding: 0 16px;

    &__wrapper {
      flex-direction: column;

      &-left,
      &-right {
        width: 80%;
      }

      &-left {
        .myName {
          max-width: 350px;
          font-size: 24px;
        }

        .myText {
          padding: 24px 8px;
          font-size: 14px;
        }
      }

      &-right {

        img {
          width: 160px;
        }

        .lang {
          padding: 0;
        }
      }
    }
  }
}