.header-left {
  font-size: 20px;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 1000;
  display: none;
}

@media (max-width:599px) {
  .header-left {
    font-size: 1rem;
    padding: 0;
    left: 10px;
    top: 10px;
  }
}

.header-right {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  transition: all .3s;
}

.header-right__navi-item {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  a {
    display: block;
    padding-bottom: 8px;
    font-size: 1rem;
    border-bottom: #333 1px solid;
    position: relative;
  }

  a span {
    position: absolute;
    bottom: -5px;
    left: 3px;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
}

@media (max-width:1024px){
  .header-right__navi-item a span {
    border-top: 1px solid #333;
    border-left: none;
    left: auto;
    right: 0px;
  }
}

@media (max-width:599px) {
  .header-right {
    top: 16px;
    right: -70px;
  }
}

.header-right.js-open {
  transform: translateX(-120px);
}

.sp-hamburger {
  position: fixed;
  top: 16px;
  right: 0px;
  height: 24px;
  width: 42px;
  z-index: 1000;
  display: none;

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;


    li {
      content: "";
      display: block;
      height: 1px;
      width: 24px;
      background-color: #333;
      position: absolute;
      right: 10px;
      transition: .6s;
      border-radius: 2px;
    }

    li:nth-child(1) {
      top: 5px;
    }

    li:nth-child(2) {
      top: 10px;
    }

    li:nth-child(3) {
      top: 15px;
    }

    &.js-active {

      li:nth-child(1) {
        top: 10px;
        transform: rotate(225deg);
      }

      li:nth-child(2) {
        background-color: rgba(255, 255, 255, 0);
      }

      li:nth-child(3) {
        top: 10px;
        transform: rotate(-225deg);
      }
    }
  }
}