.service {

  &__cards {
    color:#555;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }

  &__card {
    width: 30%;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #dcd3b7;
    opacity: 0;
    transform: translateY(60px);
    transition: all .8s 0s ease-out;
  }


  &__card-title {
    font-size: 1.5rem;
    font-weight: bold;

    img {
      width: 150px;
      height: 50px;
      object-fit: cover;
      margin: 20px 0;
    }
  }

  &__card-text {
    text-align: left;
    line-height: 1.5;
  }
}

@media (max-width:1024px){
  .service {

    &__cards {
      flex-direction: column;
      align-items: center;
    }

    &__card {
      width: 80%;
    }

    &__card-title img {
        margin: 10px 0;
    }
  }
}

@media (max-width:599px) {
  .service {

    &__cards {
      flex-direction: column;
      align-items: center;
    }

    &__card {
      width: 100%;
    }

    &__card-title {
      font-size: 20px;

      img {
        margin: 10px 0;
      }
    }

    &__card-text {
      font-size: 14px;
    }
  }
}