.header {
  background-color: #FFFBEB;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: fixed;
  top: 24px;
  left: 24px;
  font-size: 1.25rem;
}

.header-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .5rem;
  text-shadow:3px 3px #dcd3b7;

  span {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 8px;
    letter-spacing: normal;
    text-shadow: none;
  }

  span::before,
  span::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 24px;
    background-color: #0370dd;
    margin: 0 8px;
    vertical-align: middle;
  }
}

@media (max-width:599px) {
  .header {
    height: 124px;
  }

  .header-title {
    font-size: 2rem;

    span {
      font-size: 14px;
    }
  }

  .header-logo {
    font-size: 1rem;
    left: 10px;
    top: 10px;
  }
}

.header-right {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  transition: all .3s;
}

.header-right__navi-item {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }

  a {
    display: block;
    padding-bottom: 8px;
    font-size: 1rem;
    border-bottom: #333 1px solid;
    position: relative;
  }

  a span {
    position: absolute;
    bottom: -5px;
    left: 3px;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
}

.header-right.js-open {
  transform: translateX(-120px);
}

.sp-hamburger {
  position: fixed;
  top: 16px;
  right: 0px;
  height: 24px;
  width: 42px;
  z-index: 1000;
  display: none;

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;


    li {
      content: "";
      display: block;
      height: 1px;
      width: 24px;
      background-color: #333;
      position: absolute;
      right: 10px;
      transition: .6s;
      border-radius: 2px;
    }

    li:nth-child(1) {
      top: 5px;
    }

    li:nth-child(2) {
      top: 10px;
    }

    li:nth-child(3) {
      top: 15px;
    }

    &.js-active {

      li:nth-child(1) {
        top: 10px;
        transform: rotate(225deg);
      }

      li:nth-child(2) {
        background-color: rgba(255, 255, 255, 0);
      }

      li:nth-child(3) {
        top: 10px;
        transform: rotate(-225deg);
      }
    }
  }
}

@media (max-width:1024px){
  .header-right__navi-item a span {
    border-top: 1px solid #333;
    border-left: none;
    left: auto;
    right: 0px;
  }
}

@media (max-width:599px) {
  .header-right {
    top: 16px;
    right: -70px;
  }
}