.works {
  background-color: #FFFBEB;
  position: relative;

  .swiper-area {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .swiper {
    max-width: 1080px;
    margin: 0;
  }

  .swiper-slide__item-img {
    padding: 8px;
    border-radius: 8px;
    background-color: #dcd3b7;

    img {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .swiper-slide__item p {
    margin-top: 8px;
    font-size: 14px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    display: initial;
    width: 48px;
    height: auto;
    margin-top: 0;
    transition: all .3s;
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: .3;
  }

  // ナビゲーションアロー

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-top: 8px solid #0370dd;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  .swiper-button-next::after {
    transform: translate(-20px, -16px) rotate(-45deg);
  }

  .swiper-button-prev::after {
    transform: translate(20px, -16px) rotate(45deg);
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 3px;
    background-color: #0370dd;
  }

  .swiper-button-next:hover {
    transform: translateX(-8px);
  }
  
  .swiper-button-prev:hover {
      transform: translateX(8px);
  }

}