body {
  font-family: 'Murecho', sans-serif;
  font-size: 16px;
	color: #333;
  letter-spacing: 1.25px;
  line-height: 1.5;
}

@media (max-width:599px) {
  .main {
    transition: all .3s;

    &-text p {
      font-size: 1rem;
    }
  }

  .main.js-open {
    transform: translateX(-110px);
  }
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  padding: 80px 16px;
}