/*-------------- 
レスポンシブサイズ
----------------*/
$sp: 599px;
$tab: 600px;
$pc: 1025px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}



