// mvの文字アニメーション

@keyframes mv-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
    }
}

@keyframes slash {
    0% {
        transform: rotate(0);
    }

    95% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(20deg);
    }
}

@keyframes site-title-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
        color: #333;
    }
}

@keyframes dotto-fadeIn {
    0% {
        transform: translateY(-50px);
    }

    30% {
        transform: translateY(16px);
    }

    100% {
        transform: translateY(0);
        box-shadow: none;
        opacity: 10;
    }
}

// serviceページ flowセクションのアニメーション
@keyframes flow-ball {
    0% {
      height: 1px;
    }

    100% {
      height: 120px;
    }
  }

  @keyframes sp-flow-ball {
    0% {
      height: 1px;
    }

    100% {
      height: 150px;
    }
  }