// スクロール時のaddclass

.js-scroll-set{
  transition: all .8s 0s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.js-scroll-set-2{
  transition: all .5s;
  opacity: 0;
  transform: translateY(10px);
}

.js-scroll-in{
  opacity: 1;
  transform: translateY(0);
}

.section__title img.js-scroll-in{
  opacity: 10;
  transform: translateY(0);
}

.js-scroll-ball{
  animation: flow-ball .8s forwards;
}

.js-sp-scroll-ball{
  animation: sp-flow-ball .8s forwards;
}