@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

/*-------------- 
レスポンシブサイズ
----------------*/
body {
  font-family: "Murecho", sans-serif;
  font-size: 16px;
  color: #333;
  letter-spacing: 1.25px;
  line-height: 1.5;
}

@media (max-width: 599px) {
  .main {
    transition: all 0.3s;
  }
  .main-text p {
    font-size: 1rem;
  }

  .main.js-open {
    transform: translateX(-110px);
  }
}
.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  padding: 80px 16px;
}

.section__title img {
  width: 120px;
  height: auto;
}
.section__title-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title-en {
  font-size: 36px;
  letter-spacing: 0.25rem;
  font-weight: bold;
  color: #333;
}
.section__title-jp {
  font-size: 12px;
}
.section__title-jp::before, .section__title-jp::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 24px;
  background-color: #0370dd;
  margin: 0 10px;
  vertical-align: middle;
}

@media (max-width: 599px) {
  .section__title {
    padding: 0 0 16px 0;
    margin-bottom: 0;
  }
  .section__title img {
    width: 100px;
  }

  .section--title-jp::before,
.section--title-jp::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 12px;
    background-color: #333;
    margin: 0 5px;
    vertical-align: middle;
  }
}
.view-more-link {
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #333;
  position: relative;
}
.view-more-link span {
  display: block;
  position: absolute;
  bottom: -5px;
  left: 3px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

@media (max-width: 1024px) {
  .view-more-link .view-more-btn {
    font-size: 16px;
  }

  .view-more-link span {
    border-top: 1px solid #333;
    border-left: none;
    left: auto;
    right: 0px;
  }
}
.pageTop-btn {
  width: 50px;
  height: 50px;
  margin: 0 0 1px auto;
  border: 3px solid #0370dd;
  border-radius: 50%;
  position: sticky;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}
.pageTop-btn span {
  display: block;
  height: 25px;
  position: absolute;
  bottom: -1px;
  left: 22px;
  border-left: 3px solid #0370dd;
  transition: 0.3s;
}
.pageTop-btn span::before {
  content: "";
  border-top: #0370dd 8px solid;
  border-right: transparent 8px solid;
  border-bottom: transparent 8px solid;
  border-left: transparent 8px solid;
  position: absolute;
  top: 0;
  left: -11px;
  transform: rotate(45deg);
}

@media (max-width: 1024px) {
  .pageTop-btn {
    opacity: 10;
  }
}
@keyframes mv-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
@keyframes slash {
  0% {
    transform: rotate(0);
  }
  95% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes site-title-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
    color: #333;
  }
}
@keyframes dotto-fadeIn {
  0% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
    box-shadow: none;
    opacity: 10;
  }
}
@keyframes flow-ball {
  0% {
    height: 1px;
  }
  100% {
    height: 120px;
  }
}
@keyframes sp-flow-ball {
  0% {
    height: 1px;
  }
  100% {
    height: 150px;
  }
}
.header-left {
  font-size: 20px;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 1000;
  display: none;
}

@media (max-width: 599px) {
  .header-left {
    font-size: 1rem;
    padding: 0;
    left: 10px;
    top: 10px;
  }
}
.header-right {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  transition: all 0.3s;
}

.header-right__navi-item {
  margin-top: 24px;
}
.header-right__navi-item:first-child {
  margin-top: 0;
}
.header-right__navi-item a {
  display: block;
  padding-bottom: 8px;
  font-size: 1rem;
  border-bottom: #333 1px solid;
  position: relative;
}
.header-right__navi-item a span {
  position: absolute;
  bottom: -5px;
  left: 3px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

@media (max-width: 1024px) {
  .header-right__navi-item a span {
    border-top: 1px solid #333;
    border-left: none;
    left: auto;
    right: 0px;
  }
}
@media (max-width: 599px) {
  .header-right {
    top: 16px;
    right: -70px;
  }
}
.header-right.js-open {
  transform: translateX(-120px);
}

.sp-hamburger {
  position: fixed;
  top: 16px;
  right: 0px;
  height: 24px;
  width: 42px;
  z-index: 1000;
  display: none;
}
.sp-hamburger ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sp-hamburger ul li {
  content: "";
  display: block;
  height: 1px;
  width: 24px;
  background-color: #333;
  position: absolute;
  right: 10px;
  transition: 0.6s;
  border-radius: 2px;
}
.sp-hamburger ul li:nth-child(1) {
  top: 5px;
}
.sp-hamburger ul li:nth-child(2) {
  top: 10px;
}
.sp-hamburger ul li:nth-child(3) {
  top: 15px;
}
.sp-hamburger ul.js-active li:nth-child(1) {
  top: 10px;
  transform: rotate(225deg);
}
.sp-hamburger ul.js-active li:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
}
.sp-hamburger ul.js-active li:nth-child(3) {
  top: 10px;
  transform: rotate(-225deg);
}

.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/mv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  position: relative;
}
.mv__small-text {
  position: absolute;
  top: 43%;
  opacity: 0;
  animation: mv-fadeIn 1.8s 0.2s forwards;
}
.mv__small-text span {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: #0370dd;
  margin: 0 8px;
  vertical-align: bottom;
  animation: slash 1.8s 0.3s forwards;
}
.mv__site-title {
  color: rgb(3, 152, 221);
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.75rem;
  opacity: 0;
  animation: site-title-fadeIn 2.4s 0.3s forwards;
}
.mv__site-title span {
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 4px 6px #333;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateY(-80px);
  animation: dotto-fadeIn 1.8s 0.7s forwards;
  opacity: 0;
  transition: all 1s;
}
.mv__text {
  position: absolute;
  top: 58%;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  animation: mv-fadeIn 1.8s 0.2s forwards;
}
.mv::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(248, 244, 231, 0.8);
}

@media (max-width: 1024px) {
  .mv {
    background-attachment: initial;
  }

  .mv__site-title {
    font-size: 4rem;
  }
}
@media (max-width: 599px) {
  .mv__site-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .mv__site-title span {
    width: 4px;
    height: 4px;
  }
}
.service__cards {
  color: #555;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.service__card {
  width: 30%;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 0 #dcd3b7;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s 0s ease-out;
}
.service__card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.service__card-title img {
  width: 150px;
  height: 50px;
  object-fit: cover;
  margin: 20px 0;
}
.service__card-text {
  text-align: left;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .service__cards {
    flex-direction: column;
    align-items: center;
  }
  .service__card {
    width: 80%;
  }
  .service__card-title img {
    margin: 10px 0;
  }
}
@media (max-width: 599px) {
  .service__cards {
    flex-direction: column;
    align-items: center;
  }
  .service__card {
    width: 100%;
  }
  .service__card-title {
    font-size: 20px;
  }
  .service__card-title img {
    margin: 10px 0;
  }
  .service__card-text {
    font-size: 14px;
  }
}
.works {
  background-color: #FFFBEB;
  position: relative;
}
.works .swiper-area {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.works .swiper {
  max-width: 1080px;
  margin: 0;
}
.works .swiper-slide__item-img {
  padding: 8px;
  border-radius: 8px;
  background-color: #dcd3b7;
}
.works .swiper-slide__item-img img {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.works .swiper-slide__item p {
  margin-top: 8px;
  font-size: 14px;
}
.works .swiper-button-next,
.works .swiper-button-prev {
  position: static;
  display: initial;
  width: 48px;
  height: auto;
  margin-top: 0;
  transition: all 0.3s;
}
.works .swiper-slide-next,
.works .swiper-slide-prev {
  opacity: 0.3;
}
.works .swiper-button-next::after,
.works .swiper-button-prev::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 8px solid #0370dd;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.works .swiper-button-next::after {
  transform: translate(-20px, -16px) rotate(-45deg);
}
.works .swiper-button-prev::after {
  transform: translate(20px, -16px) rotate(45deg);
}
.works .swiper-button-next::before,
.works .swiper-button-prev::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 3px;
  background-color: #0370dd;
}
.works .swiper-button-next:hover {
  transform: translateX(-8px);
}
.works .swiper-button-prev:hover {
  transform: translateX(8px);
}

.about__wrapper {
  color: #555;
  border-radius: 20px;
  box-shadow: 10px 10px 0 #dcd3b7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin-top: 40px;
}
.about__wrapper-left {
  width: 48%;
  text-align: left;
}
.about__wrapper-left-name {
  font-size: 24px;
  border-left: 8px solid #0370dd;
  border-bottom: 1px solid #0370dd;
  padding-left: 20px;
  padding-bottom: 4px;
  display: inline-block;
}
.about__wrapper-left-name span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
}
.about__wrapper-left-text {
  padding: 24px 0 0 32px;
}
.about__wrapper-left-text span {
  display: block;
  padding-top: 16px;
  line-height: 1.5;
}
.about__wrapper-left-skills {
  display: inline-block;
  text-align: left;
  margin-top: 24px;
  letter-spacing: 1.2px;
  line-height: 1.2;
}
.about__wrapper-left-skills span {
  display: inline-block;
  font-size: 24px;
  border-left: 8px solid #0370dd;
  border-bottom: 1px solid #0370dd;
  padding-left: 8px;
  margin-bottom: 8px;
}
.about__wrapper-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__wrapper-right-myimg {
  width: 240px;
  height: auto;
  filter: drop-shadow(0px 4px 4px #333);
}
.about__wrapper-right-github {
  display: block;
  width: 28px;
  height: 28px;
  transition: all 0.3s;
}
.about__wrapper-right-github img {
  width: 100%;
}
.about__wrapper-right-github:hover {
  transform: scale(1.2);
}

@media (max-width: 599px) {
  .about {
    margin-top: 50px;
    padding: 0 16px;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__wrapper-left, .about__wrapper-right {
    width: 80%;
  }
  .about__wrapper-left .myName {
    max-width: 350px;
    font-size: 24px;
  }
  .about__wrapper-left .myText {
    padding: 24px 8px;
    font-size: 14px;
  }
  .about__wrapper-right img {
    width: 160px;
  }
  .about__wrapper-right .lang {
    padding: 0;
  }
}
.contact-text {
  margin-top: 40px;
  line-height: 1.5;
}

.contact-btn {
  display: inline-block;
  margin-top: 40px;
}
.contact-btn a {
  display: block;
  padding: 16px 40px;
  font-size: 20px;
  letter-spacing: 0.25rem;
  background-color: #FFFBEB;
  box-shadow: 4px 4px 0 #dcd3b7;
  border-radius: 40px;
  transition: all 0.1s;
}
.contact-btn a:hover {
  color: black;
  background-color: #dcd3b7;
  box-shadow: none;
}
.contact-btn a:active {
  transform: scale(1.1);
}

@media (max-width: 599px) {
  .contact {
    padding: 0 24px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .contact-text {
    font-size: 14px;
  }
}
.footer {
  height: 64px;
  background-color: #FFFBEB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
}

.header {
  background-color: #FFFBEB;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: fixed;
  top: 24px;
  left: 24px;
  font-size: 1.25rem;
}

.header-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-shadow: 3px 3px #dcd3b7;
}
.header-title span {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 8px;
  letter-spacing: normal;
  text-shadow: none;
}
.header-title span::before,
.header-title span::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 24px;
  background-color: #0370dd;
  margin: 0 8px;
  vertical-align: middle;
}

@media (max-width: 599px) {
  .header {
    height: 124px;
  }

  .header-title {
    font-size: 2rem;
  }
  .header-title span {
    font-size: 14px;
  }

  .header-logo {
    font-size: 1rem;
    left: 10px;
    top: 10px;
  }
}
.header-right {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  transition: all 0.3s;
}

.header-right__navi-item {
  margin-top: 24px;
}
.header-right__navi-item:first-child {
  margin-top: 0;
}
.header-right__navi-item a {
  display: block;
  padding-bottom: 8px;
  font-size: 1rem;
  border-bottom: #333 1px solid;
  position: relative;
}
.header-right__navi-item a span {
  position: absolute;
  bottom: -5px;
  left: 3px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.header-right.js-open {
  transform: translateX(-120px);
}

.sp-hamburger {
  position: fixed;
  top: 16px;
  right: 0px;
  height: 24px;
  width: 42px;
  z-index: 1000;
  display: none;
}
.sp-hamburger ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sp-hamburger ul li {
  content: "";
  display: block;
  height: 1px;
  width: 24px;
  background-color: #333;
  position: absolute;
  right: 10px;
  transition: 0.6s;
  border-radius: 2px;
}
.sp-hamburger ul li:nth-child(1) {
  top: 5px;
}
.sp-hamburger ul li:nth-child(2) {
  top: 10px;
}
.sp-hamburger ul li:nth-child(3) {
  top: 15px;
}
.sp-hamburger ul.js-active li:nth-child(1) {
  top: 10px;
  transform: rotate(225deg);
}
.sp-hamburger ul.js-active li:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
}
.sp-hamburger ul.js-active li:nth-child(3) {
  top: 10px;
  transform: rotate(-225deg);
}

@media (max-width: 1024px) {
  .header-right__navi-item a span {
    border-top: 1px solid #333;
    border-left: none;
    left: auto;
    right: 0px;
  }
}
@media (max-width: 599px) {
  .header-right {
    top: 16px;
    right: -70px;
  }
}
.section__head-title {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
.section__head-title h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.25rem;
}
.section__head-title h2 span {
  display: block;
  letter-spacing: normal;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
}
.section__head-title h2 span::before,
.section__head-title h2 span::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 24px;
  background-color: #0370dd;
  vertical-align: middle;
  margin: 4px 8px;
}
.section__head-text {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 599px) {
  .section__head-title h2 {
    font-size: 2rem;
  }
  .section__head-title h2 span {
    margin-top: 0;
  }
}
.price__cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.price__card {
  margin-top: 64px;
}

.price__card-title img {
  width: 100px;
  height: 40px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.price__card-title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.price__card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  text-align: left;
  margin-top: 24px;
}
.price__card-text-left {
  width: 45%;
}
.price__card-text-center {
  width: 1px;
  height: 100px;
  background-color: #333;
}
.price__card-text-right {
  width: 45%;
}
.price__card-text-right li {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(3, 112, 221, 0.5) 20%);
}
.price__card-text-right li span {
  text-align: right;
  width: 30%;
}
.price__card-text-right li:nth-child(2) {
  margin: 24px 0;
}

@media (max-width: 1024px) {
  .price__card-text {
    flex-direction: column;
  }
  .price__card-text-left {
    width: 60%;
  }
  .price__card-text-center {
    width: 40%;
    height: 1px;
  }
  .price__card-text-right {
    width: 60%;
  }
}
@media (max-width: 599px) {
  .price__card-text {
    flex-direction: column;
  }
  .price__card-text-left {
    width: 90%;
  }
  .price__card-text-center {
    width: 80%;
    height: 1px;
  }
  .price__card-text-right {
    width: 90%;
  }
  .price__card-text-right li {
    font-size: 16px;
  }
}
.flow {
  background-color: #FFFBEB;
}
.flow__list {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: left;
}
.flow__list-item {
  margin-top: 48px;
  height: 135px;
  position: relative;
}
.flow__list-item:first-child {
  margin-top: 0;
}
.flow__list-item-number {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: -6px;
  left: 4px;
}
.flow__list-item-number::before {
  content: "";
  position: absolute;
  top: 48px;
  left: -3px;
  height: 3px;
  width: 24px;
  background-color: #0370dd;
}
.flow .item-number-ball {
  position: absolute;
  top: 45px;
  left: 11px;
  width: 3px;
  height: 3px;
  background-color: #0370dd;
}
.flow .item-number-ball::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 9px;
  height: 9px;
  border: 3px solid #0370dd;
  background-color: #FFFBEB;
  border-radius: 50%;
}
.flow__list-body {
  padding-left: 80px;
}
.flow__list-body dt {
  font-size: 1.5rem;
  font-weight: bold;
}
.flow__list-body dd {
  padding-top: 24px;
}

@media (max-width: 599px) {
  .flow__list-item {
    height: 160px;
    margin-top: 56px;
  }
  .flow__list-body {
    padding-top: 8px;
    padding-left: 48px;
  }
  .flow__list-body dt {
    font-size: 20px;
  }
  .flow__list-body dd {
    font-size: 14px;
  }
}
.works__cards {
  margin-top: 100px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 80px;
}

@media (max-width: 599px) {
  .works__cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.works__card {
  transition: all 0.3s;
}
.works__card:hover {
  transform: scale(1.03);
}

.works__card-body {
  text-align: center;
  cursor: pointer;
}

.works__card-img {
  padding: 8px;
  border-radius: 8px;
  background-color: #dcd3b7;
}
.works__card-img img {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.works__card-name {
  font-size: 14px;
}

.works-detail__items {
  margin-top: 100px;
}

.works-detail__item {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .works-detail__item {
    flex-direction: column-reverse;
  }
}
.works-detail__list {
  width: 45%;
  padding-left: 200px;
}

@media (max-width: 1024px) {
  .works-detail__list {
    width: 80%;
    padding-left: 100px;
    margin-top: 40px;
  }
}
@media (max-width: 599px) {
  .works-detail__list {
    padding-left: 0;
  }
}
.item-text {
  margin-bottom: 20px;
}
.item-text h3 {
  font-size: 1.5rem;
}
.item-text p {
  margin-top: 8px;
}
.item-text::after {
  content: "";
  display: block;
  height: 1px;
  width: 240px;
  background-color: #888;
  margin-top: 20px;
}

@media (max-width: 599px) {
  .item-text h3 {
    font-size: 1.25rem;
  }
}
.works-detail__img {
  text-align: center;
  width: 45%;
}
.works-detail__img a {
  border-bottom: 1px solid #333;
  opacity: 0.5;
  transition: all 0.3s;
}
.works-detail__img a:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .works-detail__img {
    width: 80%;
  }
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 0 16px;
}

@media (max-width: 599px) {
  .contact__wrapper {
    text-align: left;
  }
}
.contact-img {
  width: 120px;
  height: auto;
}

.contact-center-line {
  width: 1px;
  height: 100px;
  background-color: #555;
  margin: 36px 0;
}

.form {
  height: 500px;
  background-color: rgb(236, 236, 236);
  padding: 0 100px;
  margin-top: 80px;
  line-height: 500px;
}

.js-scroll-set {
  transition: all 0.8s 0s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.js-scroll-set-2 {
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(10px);
}

.js-scroll-in {
  opacity: 1;
  transform: translateY(0);
}

.section__title img.js-scroll-in {
  opacity: 10;
  transform: translateY(0);
}

.js-scroll-ball {
  animation: flow-ball 0.8s forwards;
}

.js-sp-scroll-ball {
  animation: sp-flow-ball 0.8s forwards;
}/*# sourceMappingURL=styles.css.map */