@charset "UTF-8";

@use 'base/reset';
@use 'base/mixin';
@use 'base/base';

@use 'components/module';
@use 'components/animation';

@use 'layout/header';
@use 'layout/mv';
@use 'layout/service';
@use 'layout/works';
@use 'layout/about';
@use 'layout/contact';
@use 'layout/footer';

@use 'layout/underPage-header';
@use 'pages/p-service';
@use 'pages/p-works';
@use 'pages/p-works-detail';
@use 'pages/p-contact';

@use 'components/js-class';
