.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 0 16px;
}

@media (max-width:599px) {
  .contact__wrapper {
    text-align: left;
  }
}

.contact-img {
  width: 120px;
  height: auto;
}

.contact-center-line {
  width: 1px;
  height: 100px;
  background-color: #555;
  margin: 36px 0;
}

.form{
  height: 500px;
  background-color: rgb(236, 236, 236);
  padding: 0 100px;
  margin-top: 80px;
  line-height: 500px;
}