.works-detail__items{
  margin-top: 100px;
}

.works-detail__item {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1024px) {
  .works-detail__item {
    flex-direction: column-reverse;
  }
}

.works-detail__list {
  width: 45%;
  padding-left: 200px;
}

@media (max-width:1024px) {
  .works-detail__list {
    width: 80%;
    padding-left: 100px;
    margin-top: 40px;
  }
}

@media (max-width:599px) {
  .works-detail__list {
    padding-left: 0;
  }
}

.item-text {
  margin-bottom: 20px;

  h3 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 8px;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 240px;
    background-color: #888;
    margin-top: 20px;
  }
}

@media (max-width:599px){
  .item-text{
    h3{
      font-size: 1.25rem;
    }
  }
}

.works-detail__img {
  text-align: center;
  width: 45%;

  a{
    border-bottom: 1px solid #333;
   opacity: .5;
   transition: all .3s;

   &:hover{
    opacity: 1;
   }
  }
}

@media (max-width:1024px) {
  .works-detail__img{
    width: 80%;
  }
}
