.works__cards {
  margin-top: 100px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 80px;
}

@media (max-width:599px) {
  .works__cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

.works__card {
  transition: all .3s;

  &:hover {
    transform: scale(1.03);
  }
}

.works__card-body {
  text-align: center;
  cursor: pointer;
}

.works__card-img {
  padding: 8px;
  border-radius: 8px;
  background-color: #dcd3b7;

  img {
    box-shadow: 0px 5px 5px rgb(0 0 0/ 50%);
  }
}

.works__card-name {
  font-size: 14px;
}